<% provide(:title, "About") %>
<h1>About</h1>
<p>
	Mercado livre da construção is a customer-focused company that aims to help people waste less construction waste. We value ethics and respect for the human being
</p>
