<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
 	If you have any problem contact the dev team:
</p>

<ul>
  <li>Adilson Lopes Khouri - NUSP 6411994</li>
  <li>Alberto Dumont Alves Oliveira - NUSP 9408481</li>
  <li>Francisco Wallison Carlos Rocha - NUSP 11312711</li>
  <li>Luciano Gonçalves de Carvalho - NUSP 9412079</li>
</ul>